{% extends "base.html" %}

{% block title %}Crear Pedido{% endblock %}

{% block content %}
<section>
    <h2>Crear Pedido</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <input type="text" name="cliente" placeholder="Nombre de usuario" required class="form-control">
        <input type="text" name="direccion" placeholder="Dirección" required class="form-control">

        <select name="entrada" class="form-control" required>
            <option value="">Selecciona una entrada</option>
            {% for entrada in entradas %}
                <option value="{{ entrada.nombre }}">{{ entrada.nombre }}</option>
            {% endfor %}
        </select>
        <select name="plato" class="form-control" required>
            <option value="">Selecciona un plato principal</option>
            {% for plato in platos %}
                <option value="{{ plato.nombre }}">{{ plato.nombre }}</option>
            {% endfor %}
        </select>
        <select name="bebida" class="form-control" required>
            <option value="">Selecciona una bebida</option>
            {% for bebida in bebidas %}
                <option value="{{ bebida.nombre }}">{{ bebida.nombre }}</option>
            {% endfor %}
        </select>

        {{ form.metodo_pago.label }}
        {{ form.metodo_pago(class="form-control") }}

        <button type="submit" class="btn btn-primary mt-3">Realizar Pedido</button>
    </form>
</section>
{% endblock %}