{% extends "base.html" %}

{% block title %}Inicio - Delicious Orders{% endblock %}

{% block content %}
<section class="bienvenida text-center mb-4">
    <h1 class="inicio-titulo">¡Bienvenido/a a Delicious Orders!</h1>
    <p class="inicio-lead">Disfruta de nuestra carta y servicio. ¿Qué te gustaría pedir hoy?</p>
</section>

<section class="carrusel-section">
    <div class="carrusel-contenedor">
        <div class="carrusel">
            <img src="{{ url_for('static', filename='catalogo_img/plato1.jpg') }}" class="carrusel-img-inicio">
            <img src="{{ url_for('static', filename='catalogo_img/plato2.jpg') }}" class="carrusel-img-inicio">
            <img src="{{ url_for('static', filename='catalogo_img/plato3.jpg') }}" class="carrusel-img-inicio">
            <img src="{{ url_for('static', filename='img1.png') }}" class="carrusel-img-inicio">
            <img src="{{ url_for('static', filename='img2.png') }}" class="carrusel-img-inicio">
            <img src="{{ url_for('static', filename='img3.png') }}" class="carrusel-img-inicio">
            <!-- Duplicadas para bucle perfecto -->
            <img src="{{ url_for('static', filename='catalogo_img/plato1.jpg') }}" class="carrusel-img-inicio">
            <img src="{{ url_for('static', filename='catalogo_img/plato2.jpg') }}" class="carrusel-img-inicio">
            <img src="{{ url_for('static', filename='catalogo_img/plato3.jpg') }}" class="carrusel-img-inicio">
            <img src="{{ url_for('static', filename='img1.png') }}" class="carrusel-img-inicio">
            <img src="{{ url_for('static', filename='img2.png') }}" class="carrusel-img-inicio">
            <img src="{{ url_for('static', filename='img3.png') }}" class="carrusel-img-inicio">
        </div>
    </div>
</section>
{% endblock %}